asgiref==3.8.1
Django==5.2.16
googleapis-common-protos==1.75.0
grpcio==1.75.1
gunicorn==22.0.0
protobuf==6.33.5
pytz==2021.1
six==1.15.0
splunk-opentelemetry==2.11.0
sqlparse==0.5.4
thrift==0.13.0
wrapt==2.2.2
