asgiref==3.3.1
Django==3.1.7
googleapis-common-protos==1.52.0
grpcio==1.35.0
gunicorn==20.0.4
opentelemetry-api==0.17b0
opentelemetry-exporter-jaeger==0.17b0
opentelemetry-instrumentation==0.17b0
opentelemetry-propagator-b3==0.17b0
opentelemetry-sdk==0.17b0
protobuf==3.15.0
pytz==2021.1
six==1.15.0
splunk-opentelemetry==0.7.0
sqlparse==0.4.1
thrift==0.13.0
wrapt==1.12.1
