asgiref==3.3.1
Django==3.2.25
googleapis-common-protos==1.52.0
grpcio==1.53.2
gunicorn==23.0.0
protobuf==3.18.3
pytz==2021.1
six==1.15.0
splunk-opentelemetry[all]==1.2.0
sqlparse==0.5.0
thrift==0.13.0
wrapt==1.12.1
