<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{#title}}{{title}}{{/title}}{{^title}}Wishlist{{/title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <link rel="stylesheet" href="/css/wishlist.css"/>
</head>

<body>
