<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="logs/internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.DiagnosticSource"/>
    </extensions>

    <targets>
        <!-- File Target for all log messages with basic details -->
        <target xsi:type="File" name="logfile" fileName="/app/logs/web.log"
                layout="${longdate}|${level}|${message}|TraceId=${activity:property=TraceId}|SpanId=${activity:property=SpanId}|TraceFlags=${activity:property=TraceFlags}|${all-event-properties} ${exception:format=tostring}" />
    </targets>
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
