click==7.1.2
Flask==2.2.5
googleapis-common-protos==1.52.0
grpcio==1.35.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
protobuf==3.18.3
six==1.15.0
splunk-opentelemetry[all]==1.2.0
thrift==0.13.0
uWSGI==2.0.19.1
Werkzeug==2.2.3
wrapt==1.12.1
