asgiref==3.3.1
click==7.1.2
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
six==1.15.0
splunk-opentelemetry[all]>=0.17.0
thrift==0.13.0
Werkzeug==1.0.1
wrapt==1.12.1
